@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro&display=swap');


/* pistachio: #b7b578 */
/* olive: #98b75e */
/* powder: #cad9d2 */
/* sunny #f5bb62 */
/* flamingo: #f9b1a5 */
/* peach: #f9d7bc */
/* fossil: #727375 */


/* Cards */

body,
html {
  overflow-x: hidden;
  font-family: 'Source Sans Pro', 'Veranda', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  padding: 10px 0px 10px 0px;
  text-align: center;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Poppins', 'Veranda', sans-serif;
}

h1 {
  font-family: 'Poppins', 'Veranda', sans-serif;
  font-size: 52px;
  margin: 0;
}

p {
  font-weight: 200;
  color: #727375;
}

a:link, a:visited {
  margin: 4px;
  padding: 6px 18px;
  border: 2px solid white;
  border-radius: 5px;
  font-family: inherit;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background: none;
}

a:hover, a:active {
  font-weight: bold;
}


#root {
  padding: 0;
  margin: 0;
}

.navbar {
  text-align: center;
}

.home, .about, .kittens {
  padding: 80px 0px;
  margin: 0;
  color: #fff;
  align-items: center;
}

.home .about > h1 {
  text-shadow: 1px 1px #eeeeee;
}

.home {
  background-color: #bdd1c5;
}

.about {
  background-color: #f9d7bc ;
}

.kittens {
  background-color: #C4dcdf;
}

.footer {
  padding: 20px 0px;
  background-color: #727375;
  color: #fff;
  width: 100%;
}

.hero-img {
  margin: 10px;
  width: 400px;
  object-fit: cover;
  justify-content: end;
}

.card-title {
  text-align: center;
  color: #727375;
  display: flow-root;
  margin: 0px 0px 10px 10px;
  padding: 10px;
}

  /* CARDS */

  .card {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: white;
    position: relative;
    box-sizing: border-box;
    transition: box-shadow 0.1s ease-in-out;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  }

  .cardimg {
    display: block;
    width: 100%;
    height: 18rem;
    margin: 0;
    object-fit: cover;
    }
  
  .card-header {
    display: flow-root;
    color: black;
    text-align: left;
    margin: 0;
    padding: 0;
  }

  .card-body {
    display: flow-root;
    text-align: left;  
    margin: 0px 0px 10px 10px;
    padding: 10px;
  }

  .card-footer {
    text-align: center;
    background-color: black;
    margin: 10px;
    padding: 10px;
  }

  .kitten-status {
    font-weight: 200;
    font-size: 12px;
    text-transform: uppercase;
    color: #7b7167;
    padding: 0;
    margin-top: 10;
  }

  .kitten-name {
    margin-top: 0;
    margin-bottom: 0;
  }

  .kitten-desc {
    margin-top: 5px;
    margin-bottom: 0;
  }

  /* ROWS AND COLUMNS */

  .wrapper {
    margin: 30px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
  }

  .wrapper > div {
    margin: 10px;
    width: 300px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
  }

  .row > div {
    margin: 10px;
    padding: 20px;
    width: 400px;
  }

  /* FORM */

  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid black;
    transition: 0.5s;
    outline: none;
  }

  input[type=text]:focus {
    border: 1px solid #18A558 ;
  }

  input[type=textarea] {
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid black;
    transition: 0.5s;
    outline: none;
  }

  input[type=textarea]:focus {
    border: 1px solid #18A558 ;
  }

  input[type="date"] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid black;
    transition: 0.5s;
    outline: none;
  }

  input[type=search] {
    /* width: 100px; */
    padding: 8px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid black;
    transition: 0.5s;
    outline: none;
  }

  input[type=search]:focus {
    border: 1px solid #18A558 ;
  }

