@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro&display=swap');

/* Cards */

body,
html {
  overflow-x: hidden;
  font-family: 'Source Sans Pro', 'Veranda', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Poppins', 'Veranda', sans-serif;
}

div {
  padding: 10px 0px 10px 0px;
}

#root {
  padding: 0;
  margin: 0;
}

.navbar {
  text-align: center;
}

/* .home {
  background-image: url(https://images.unsplash.com/photo-1533743983669-94fa5c4338ec?ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MjZ8MzczNTE5NHx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);
  background-color: #cccccc;
  height: 400px;
  background-position: center;
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* position: relative; */


.home-text {
  text-align: center;
  font-size: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
}

.app-header {
  display: block;
  padding: 30px;
}

.app-title {
  display: inline-block;
  width: 100%;
  margin: 80px 0 0 0;
  float: left;
  position: relative;
  color: #fff;
  

  @media (min-width: 768px) {
    width: 20%;
    margin: 280px 0 0 0;
  }

  h1 {
    font-family: 'Poppins', 'Veranda', sans-serif;
    font-size: 52px;
    margin: 0;
  }

  p {
    font-weight: 200;
    opacity: 0.5;
  }
}

.app-title-content {
  position: relative;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);

  @media (min-width: 768px) {
    width: auto;
    position: absolute;
    text-align: left;
  }
}

.app-card-list {
  display: inline-block;
  width: 100%;
  float: right;
  margin: 0;
  min-height: 75vh;
  white-space: normal;
  overflow-x: scroll;
  margin-top: -70px;

  &::-webkit-scrollbar {
    display: none;
  }

  @media (min-width: 768px) {
    width: 80%;
    white-space: nowrap;
    margin-top: 0;
  }

  /* .card {
    margin: 60px 30px;
    display: inline-block;

    .card-body {
      white-space: normal;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  } */
}

  /* CARDS */

  .card {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: white;
    position: relative;
    box-sizing: border-box;
    transition: box-shadow 0.1s ease-in-out;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  }

  .cardimg {
    display: block;
    width: 100%;
    height: 18rem;
    margin: 0;
    object-fit: cover;
    }
  
  .card-header {
    display: flow-root;
    color: black;
    text-align: left;
    margin: 0;
    padding: 0;
  }

  .card-body {
    display: flow-root;
    text-align: left;  
    margin: 0px 0px 10px 10px;
    padding: 10px;
  }

  .card-footer {
    text-align: center;
    background-color: black;
    margin: 10px;
    padding: 10px;
  }

  .kitten-status {
    font-weight: 200;
    font-size: 12px;
    text-transform: uppercase;
    color: #7b7167;
    padding: 0;
    margin-top: 10;
  }

  .kitten-name {
    margin-top: 0;
    margin-bottom: 0;
  }

  .kitten-desc {
    margin-top: 5px;
    margin-bottom: 0;
  }

  /* ROWS AND COLUMNS */
/* 
  .row {
    list-style: none;
    margin: 2em;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fill,minmax(400px, 1fr));
    height: 100%;
  }
  
  /* Clear floats after the columns */
  /* .row:after {
    content: "";
    clear: both;
    display: table;
  } */
/* 
  .column {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 0;
  } */

  /* GRID */

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
  }

  .wrapper > div {
    margin: 10px;
    width: 300px;
  }
/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */